* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    h1{
        font-size: 3rem;
        color: #013a2f;
        
        
    }
    
    nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    }
    
    
    .logo img{
    width: 280px;
    margin-bottom: 40px;
    margin-left: 900px;
    padding-top: 50px;
    }
    
   .nav-items {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: 400;
    }
    
    .nav-items a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    }
    
    .hero{
    padding: 50px 0;
    
    }
    
    .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    margin: 0;
    overflow: hidden;
    
   }


   .welcome-text{
   font-family: 'Aleo', serif;
   font-size: 3rem;
   color: #013a2f;
   margin-left: 950px;
   margin-top: 90px;
   margin-bottom: 40px;
  }

  .section-head .welcome-text1{
    font-family: "Aleo",serif;
    font-size: 3rem;
    color: #013a2f;
  }

  .section-head .text1{
    font-size: 2rem;
   color: #013a2f;
   font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  }

   .text{
    font-size: 2rem;
   color: #013a2f;
   margin-left: 950px;
   margin-bottom: 100px;
   font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
   font-weight: 400;
   }

   .highlight{
    color: deeppink;
   }
    
.repeating-gif{
    width: 1000px;
    height: 1000px;
    margin-bottom: 60px;
    
    
}

.section-head{
    margin-right: 950px; 
}

.section-head h2{
    font-size: 2rem;
    margin-bottom: 30px;
}

.section-head p{
    font-size: 1.5rem;
}

.services-section {
    text-align: left;
    margin-left: 950px;
    margin-top: 90px;
   }


.service-cards-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}
.service-card {
    
    margin: 0 10px 20px;
    flex: 1;
    max-width: 300px;
    border: 1px solid #013a2f;
    border-radius: 8px;
    padding: 20px;

}


.service-card h2 {
    font-size: 1.5rem;
    color: #333;
}

.service-card p {
    font-size: 1.5rem;
    color: #666;
}

 .services h1{
        margin-left: 900px;
        font-family: 'Aleo', sans-serif;
        color: #013a2f;
        font-weight: bold;
        margin-bottom: 100px;
        margin-top: 250px;
        
        }

       .services h1::after{
            content: "";
            display: block;
            width: 500px;
            padding-top: 60px;
            border-bottom: 8px solid #c50077;
            position: absolute;
            left: 45.15%;
        }

    .services p{
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 80px;
        margin-left: 900px;
    }

    .services-animation{
        background-color: white;
        margin-top: 120px;
        text-align: center;
       
        
    }
    
    .services-animation img{
        animation: infinite;
        margin-bottom: 150px;
        transition: transform 0.5s ease-in-out;
        
        
    }
    
    .services-animation:hover img{
        transform: scale(1.2);
    }

    .project-head

    #Projekte{
        margin: 0;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }


    .portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 80px;
    padding: 60px;
    max-width: 2050px; 
    width: 100%;
    margin-left: 900px;
   
}

    .project {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s;
}

    .project img {
    width: 100%;
    height: auto;
    display: block;
}

    .project.large {
    grid-column: span 2;
    grid-row: span 2;
}

    .project.medium {
    grid-column: span 1;
}

    .project.small {
    grid-column: span 1;
}


    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

    .project:hover .overlay {
        opacity: 1;

    }

    .overlay h3{
        margin: 0;
        font-size: 1.5rem;
        color: #ffffff;
    }
   
    .overlay p{
        margin: 0;
        font-size: 1rem;
        color: #ffffff;
    }

    #Agentur{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   margin-bottom: 160px;
}
   .agentur {
    text-align: center;
    margin-top: 150px;
    position: relative;
}
.agentur-content{
    margin-top: 200px;
    margin-bottom: 400px;
    margin-left: 950px;
}

.agentur-content h3{
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 600;
}

.agentur-content p{
    font-size: 1.2rem;
    font-weight: 200;
}


.agency-title{
    
    font-family: 'Aleo', sans-serif;
    color: #013a2f;
    font-weight: bold;
    margin-bottom: 40px;
}



.second-paragraph{
    font-size: 35px;
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 50px;
        margin-left: 1275px;
        
}
.logos-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    max-width: 2000px;
    text-align: center;
    margin-top: 10px;
   
}

.logos-container > h1{
    position: absolute;
    top: -150px;
    left: 0;
    margin: 0;
    margin-left: 150px;
    font-family: 'Aleo', serif;
    font-size: 3rem;
    color: #013a2f;
    
    }

    .logos{
        max-width: 70%;
        max-height: 230px;
        padding: 22px;
        display: block;
        margin: 0 auto;
    }

   

#kunden-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1400px;
   /* background-color: rgb(245, 247, 249); */
    margin-top: 10px;
    margin-right: 200px;

}

#Kontakt{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.contact-section {
    text-align: center;
}

.contact-container {
    width: 2000px;
    padding: 20px;
   /* border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.contact-container h2 {
    font-family: 'Aleo', serif;
    font-size: 3rem;
    color: #013a2f;
    text-align: left;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    
    color: #013a2f;
    margin-bottom: 20px;
    text-align: left;
    margin-bottom: 80px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    color: #013a2f;
    margin-bottom: 8px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #013a2f;
    color: #fff;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 30px;
}

button:hover {
    background-color: #c50077;
}

footer{
    background-color: #013a2f;
    color: #ffffff;
    padding: 100px;
    height: 600px;
}

footer  p{
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    
    
}

    
    
  